/* Sets the default color and font for all pages*/
body {
  background-color: black;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}

/* Navbar */

/* Moves the navigation links to the right of the page */
.navbar-nav {
  margin-left: auto;
}

/* Underlines the current page button */
.nav-link.active {
  text-decoration: underline;
}

/* Spaces the navigation links 3rem from each other */
.nav-item {
  margin-right: 3rem;
  font-size: 1.2rem;
}

/* Spaces the brand 3rem from the left */
.navbar-brand {
  margin-left: 3rem;
}

/* Shifts navbar 1rem below */
.navbar {
  margin-top: 1rem;
}